.hero-section {
  position: relative;
  height: 100vh;
  background-image: url("/Hero-Masjid Sumenep.jpg ");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  color: white;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-section h1 {
  font-weight: 700;
  font-size: 3.5rem;
}
